@media screen and (max-width: 1015px) {
  .topnav {
    flex-direction: column;
    align-items: unset;
    gap: 40px;
  }

  .nav-list {
    font-size: 1rem;
  }
  .topnav a {
    padding: 12px 12px;
  }

  .hero-content {
    min-width: unset;

    grid-column: span 5;
  }
  .hero-img {
    grid-column: span 7;
  }
  .hero-headline {
    margin-bottom: 45px;
  }
  .hero-text {
    width: 100%;
    margin-bottom: 80px;
  }
  .hero-content::after {
    right: 0px;
  }
  .hero-section > .btn-signup {
    display: none;
  }
  .hero-content .btn-signup {
    height: 45px;
  }
}
@media screen and (max-width: 925px) {
  img {
    width: 280px;
    height: 50px;
  }

  .topnav a {
    padding: 12px 12px;
  }
}

@media screen and (max-width: 800px) {
  .responsive.topnav .nav-list li {
    margin-bottom: 25px;
  }
  .topnav .nav-icon.active {
    display: inline;
  }

  .nav-list {
    display: none;
  }
  .responsive .nav-list {
    display: block;
  }
  .topnav {
    margin-bottom: 0px;
  }
  .hero-section {
    min-height: 650px;
    max-height: 940px;
    display: block;
    box-shadow: unset;
    margin-bottom: 30px;
  }
  .hero-content {
    background: #fff;
    color: #000;
    padding: 0px;
  }
  .hero-content::after {
    content: unset;
  }
  .hero-content .btn-signup {
    display: none;
  }
  .hero-headline {
    white-space: normal;
    margin-bottom: 15px;
    font-weight: bolder;
  }

  .hero-text {
    width: unset;
    margin-bottom: 25px;
  }

  .hero-img img {
    margin: auto;
    width: 100%;
    height: 100%;
    max-height: 600px;
    border-radius: 10px;
  }

  .hero-section > .btn-signup {
    display: block;
    margin: 32px auto 10px;
    font-size: 1rem;
  }

  .copyrights {
    text-align: center;
  }
}

@media screen and (max-width: 705px) {
  .hero-text {
    width: unset;
  }
  .thx-text {
    font-size: 2.25rem;

    margin: 230px 0;
  }
  .btn-submit {
    height: 30px;
  }
}
@media screen and (max-width: 540px) {
  img {
    width: 105px;
    height: 20px;
  }

  .topnav .nav-icon {
    font-size: 25px;
    top: 0px;
    right: 30px;
  }
  .hero-section > .btn-signup--1 {
    height: 30px;
  }
  .copyrights {
    margin-top: 0px;
    text-align: center;
  }
}
